<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamster Wallet — Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Red+Hat+Display:wght@400;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="login-section">
        <img src="{% static 'hamster_logo_transparent.png' %}" width="200" style="margin-top: 40px; margin-bottom: 15px;">
        <div class="separator"></div>
        <div class="login-text">Welcome to</div>
        <div class="login-title">HamsterWallet</div>

        
        <form style="z-index: 99; width: 100%" action="home/" method="post">
          {% csrf_token %}
            <div class="input-box">
                <input type="text" id="email" name="email" placeholder="Email">
                <input type="text" id="password" name="password" placeholder="Password"><br><br>
                <div class="submit-button">
                    <input class="w-100" type="submit" value="Login">
                </div>    
            </div>
        </form>
    </div>
    <div class="register-text">Need an account?</div>
    <form action="register/" method="post">
        {% csrf_token %}
        
        <input class="register-button" type="submit" value="Register">
</body>

</html>