<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamster Wallet — Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Red+Hat+Display:wght@400;600;700&display=swap">
</head>

<body>
    <div class="nav">

    </div>


    <div class="circle-section">
        <div class="inner-circle-section">
            <div class="inner-circle-subtext">You've Spent</div>
            <div class="inner-circle-value">£370.54</div>
            <div class="inner-circle-subtext">of £500</div>
        </div>

        <canvas class="circle" id="wheel-chart"></canvas>
    </div>
    <div class="separator"></div>
    <div class="section transactions-section">
        <div class="section-title">My Transactions</div>
        <div class="transaction-block">
            <div class="transaction-title">TESCO PLC</div>
            <div class="transaction-date">4th November 2023</div>
            <div class="transaction-value">£14.55</div>
            <div class="transaction-labels">

            </div>
        </div>
    </div>
</body>
<script>
    const ctx = document.getElementById('wheel-chart');

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            <!-- labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'], -->
            datasets: [{
                label: '# of Votes',
                data: [1, 1.5, 2, 3, 4, 5],
                borderWidth: 8,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                cutout: 150
            }]
        }
    });
</script>

</html>