html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Red Hat Display"
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--mid-bg);
    color: white;
}

:root {
    --dark-bg: #23222b;
    --mid-bg: #2b2a33;
    --light-bg: #3a3845;
}

.nav {
    height: 50px;
    width: 100%;
}

.section {
    width: 80%;
}

.circle-section {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle {
    width: 300px !important;
    height: 300px !important;
    z-index: 99;
}

.inner-circle-section {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.hamster {
    position: absolute;
    bottom: 82px;
    left: 42px;
    width: 150px;
    filter: brightness(1.1);
}

.inner-circle-subtext {
    font-size: 16px;
}

.inner-circle-subtext:not(:first-of-type) {
    margin-top: 5px;
}

.inner-circle-value {
    font-size: 26px;
    font-weight: 700;
}

.transactions-section {
    height: 40%;
}

.transactions {
    margin-top: 10px;
    overflow: scroll !important;
    height: calc(100% - 20px);
}

.section-title {
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.separator {
    height: 10px;
}

.transaction-title {
    font-weight: 600;
}

.transaction-block {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    width: calc(100% - 50px);
    padding: 8px 25px 15px 25px;
    background-color: var(--light-bg);
    margin-top: 10px;
}

.transaction-block>div {
    display: flex;
    align-items: center;
}

.transaction-date {
    font-size: 11px;
    margin-top: -15px;
}

.transaction-value {
    font-weight: 700;
    grid-row: 1 / span 2;
    grid-column: 2;
    justify-content: end;
}

.view-btn {
    margin-left: auto;
    font-size: 16px;
    padding: 5px 8px;
    background-color: rgba(255, 255, 255, 0.1);
}

.transaction-labels {
    margin-top: -1px;
}

.label {
    padding: 3px 8px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 10px;
    margin-left: 5px;
}

.first-label {
    margin-left: 0px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: var(--dark-bg);
}

.container {
    height: 100%;
    width: 100%;
}

.highcharts-root {
    width: 100% !important;
    height: 400px !important;
}